@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where([data-theme="dark"] *));


:root {
  /* Base */
  --surface: #fcfcff;
  --ink: #0f172a;
  --neutral: #5D5D5D;
  --muted: #B3B3B3;

  /* Brand */
  --primary: #0284C7;
  --secondary: #57CAFC;
  --accent: #D0E7F7;
  --solid: #0C4A6E;

  /* States */
  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;
  --info: #3b82f6;

  /* UI */
  --border: #dbeafe;
  --input: #dbeafe;
  --ring: #00366c;
  --overlay: #334155;
}

[data-theme="dark"] {
  /* Base */
  --surface: #000000;
  --ink: #fdfdfd;
  --muted: #5D5D5D;
  --neutral: #B3B3B3;

/* Brand */
  --primary: #57CAFC;
  --secondary: #0284C7;
  --accent: #0C4A6E;
  --solid: #D0E7F7;

  /* States */
  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;
  --info: #60a5fa;

  /* UI */
  --border: #2b3a53;
  --input: #2b3a53;
  --ring: #2087F5;
  --overlay: #d5deea;
}

@theme inline {
  /* Typography */
  --font-sans: var(--font-nunito-sans);

  /* Base */
  --color-surface: var(--surface);
  --color-ink: var(--ink);
  --color-muted: var(--muted);
  --color-neutral: var(--neutral);

  /* Brand */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-solid: var(--solid);

  /* States */
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-info: var(--info);

  /* UI */
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-overlay: var(--overlay);

  /* Radius */
  --radius-sm: .375rem;
  --radius-md: .5rem;
  --radius-lg: .75rem;
  --radius-xl: 1rem;

 --animate-marquee: marquee 30s linear infinite;

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(var(--marquee-end, -50%));
  }
}
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-surface text-ink antialiased font-sans;
  }
}

